body, html{
    height: 92%;
    background-color: 	#140e30;
    align-items: center;
}
.section{   
    background-size: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    font-family: 'Nunito';
}

.login{
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    box-sizing: border-box;
}
.i-login{
    margin-bottom: 15px;
    border-radius: 5px;
    height: 25px;
    font-size: 19px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 0px black;
    border: none;
}
.b-enviar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    background: #05e675;
    transition: transform 100ms linear;
    border-radius: 5px;
    border: none;
    color: black;
    box-shadow: 2px 2px 1px black;
    font-family: 'Nunito';
    font-size: 20px;
}
.b-enviar:hover{
    transform: scale(1.08);
}
.b-cadastrar1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    background: #05e675;
    transition: transform 100ms linear;
    border-radius: 5px;
    border: none;
    color: black;
    box-shadow: 2px 2px 1px black;
    font-family: 'Nunito';
    font-size: 20px;
    text-decoration: none;    
}
.b-cadastrar1:hover{
    transform: scale(1.08);   
}
.b-cadastrar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    cursor: pointer;
    background: #05e675;
    transition: transform 100ms linear;
    border-radius: 5px;
    border: none;
    color: black;
    box-shadow: 2px 2px 1px black;
    font-family: 'Nunito';
    font-size: 20px;
    text-decoration: none;    
}
.b-cadastrar:hover{
    transform: scale(1.08);   
}
.b-voltar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 3px;
    cursor: pointer;
    background: #05e675;
    transition: transform 100ms linear;
    border-radius: 5px;
    border: none;
    color: black;
    box-shadow: 2px 2px 1px black;
    font-family: 'Nunito';
    font-size: 20px;
    text-decoration: none;
}
.b-voltar:hover{
    transform: scale(1.08);
}
.l-login{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 2px 2px 1px black;
    
}
.box-login{   
    margin-bottom: 50px;
    background-color: #2a1f5f;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 3px black;
}
.main-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito';  
    font-size: 30px;
    font-weight: 500;
    color: #05e675;
    text-shadow: 2px 2px 1px black;
}
.box-buttons {
    display: flex;
    justify-content: space-around;
}
.gif{
    display: flex;
    justify-content: right;
}
.line{
    margin-bottom: 15px;
    width: 230px;
    height: 0,1px;
    border: 1px solid rgb(8, 7, 7);
    border-radius: 3px;
    box-shadow: 0,5px 0,5px gray;
    opacity: 0,5;
}
    
